body {
    background: rgb(204, 204, 204);
    font-family: altehaas;
    /* max-width: 1280px; */
    /* border: 1px solid red;
    margin: auto; */
}

.content {
    max-width: 1280px;
    margin: auto;
}

.homecontent {
    max-width: 1280px;
}

img {
    pointer-events: none;
}

* {
    box-sizing: border-box;
  }

/* FONT SELECTION */

@font-face {
    font-family: altehaas;
    src: url(../font/AlteHaasGroteskRegular.ttf);
}

@font-face {
    font-family: altehaas-bold;
    src: url(../font/AlteHaasGroteskBold.ttf);
}

p {
    font-size: 15px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

h3 {
    font-size: 11px;
    font-weight: normal;
}

a {
    color: black;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

a:hover {
    color: transparent;
    text-shadow: 0 0 7px black;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}

/* MAKE YEAR BLURRY */

/* a:hover span {
    border-color: transparent;
    background: transparent;
    border: transparent 0px;
    box-shadow: 0 0 7px black;
} */

mark {
    background-color: rgb(255, 168, 37);
}

.year {
    border: black solid 2px;
    border-radius: 2ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

.highlight {
    border: black solid 2px;
    border-radius: 2ch;
    padding-inline: .8ch;
    margin-inline-end: .8ch;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.highlight-small {
    border: black solid 1px;
    border-radius: 2ch;
    padding-inline: .8ch;
    margin-inline-end: .8ch;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.circle {
    border: black solid 2px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center;
    width: 45px;
    line-height: 45px;
}

#projects-lg {
    margin-top: -10px;
    display: inline-block;
}

#projects-sm {
    display: none;
}

#contacts {
    margin-top: -5px;
}

p.abouttext {
    max-width: 800px;
    text-align: justify;
}

#titlebox {
    text-align: center;
    margin-top: 45px;
}

#textbox {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 9em;
    padding-right: 9em;
}

#header {
    position: fixed;
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    margin-top: -7px;
}


/* COLUMNS FOR IMAGES */

.row {
    display: flex;
    display: -ms-flexbox; /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /* IE10 */
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    -ms-flex: 50%; /* IE10 */
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    #textbox {
        padding-left: 2em;
        padding-right: 2em;
    }
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    #textbox {
        padding-left: 1em;
        padding-right: 1em;
    }
    .column {
      flex: 100%;
      max-width: 100%;
    }

    #projects-lg {
        display: none;
    }
    
    #projects-sm {
        display: inline-block;
    }

    h1 {
        font-size: 26px;
        font-weight: normal;
    }
  }

/* img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */