html {
    margin:    0 auto;
    max-width: 600px;
}

body {
    margin: 2%;
    margin-top: 3em;
}

img {
    pointer-events: none;
}

/* .frame-home {
    
} */

@font-face {
    font-family: source-serif-reg;
    src: url(../fonts/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: source-serif-italic;
    src: url(../fonts/SourceSerifPro-Italic.ttf);
}

@font-face {
    font-family: source-serif-bold;
    src: url(../fonts/SourceSerifPro-Bold.ttf);
}



hr {
    border: 0;
    height: 1px;
    background: black;
}

p {
    font-family: source-serif-reg;
    font-size: 0.9em;
    color: black;
}

h1 {
    font-family: source-serif-bold;
    font-size: 0.9em;
    color: black;
}

h2 {
    font-family: source-serif-bold;
    font-size: 1.5em;
    color: black;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: none;
}

a {
    font-family: source-serif-reg;
    font-size: 1em;
    color: rgb(4, 0, 255);
    text-decoration: underline;
}

ul {
    font-family: source-serif-reg;
    font-size: 0.9em;
    padding-left: 1em;
}

a:hover {
    color: transparent;
    /* text-decoration: none; */
    /* text-shadow: 0 0 7px #8fea40; */
    text-shadow: 0 0 7px rgb(4, 0, 255);
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}

.italic-mark {
    font-family: source-serif-italic;
    background-color: yellow;
}

.italic-word {
    font-family: source-serif-italic;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    body {
        margin: 2%;
    }
    p {
        font-size: 1.1em;
    }
    h1 {
        font-size: 1.1em;
    }
    h2 {
        font-size: 2em;
    }
    ul {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: 2%;
    }
    p {
        font-size: 1.3em;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 2em;
    }
    ul {
        font-size: 1.3em;
    }
}